<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="prodsum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="seidor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  
    <system.serviceModel>
      <bindings>
        <customBinding>
          <binding name="myCustomBindingConfig">
            <security includeTimestamp="false" authenticationMode="UserNameOverTransport" defaultAlgorithmSuite="Basic256" requireDerivedKeys="true" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            </security>
            <textMessageEncoding messageVersion="Soap11"></textMessageEncoding>
            <httpsTransport maxReceivedMessageSize="2000000000"/>
          </binding>
        </customBinding>
      </bindings>
    </system.serviceModel>
                     
    <userSettings>
        <prodsum.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>\\Apollo\B1_SHR\Integracion\Log\</value>
            </setting>
        </prodsum.Properties.Settings>
        <seidor.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>\\Apollo\B1_SHR\Integracion\Log\</value>
            </setting>
        </seidor.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
